// Place all the styles related to the doors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#doors {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

ol {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	-column-count: 2;
}

.hidden {
	display: none !important;
}

